.m{
    width: 250px;
    height: 250px;
    background-color: black ;
    border: 2px solid green;
    margin: 20px 4px;
}
.m2{
    width: 250px;
    height: 250px;
    background-color: black ;
    border: 2px solid green;
    margin: 20px 4px;
}