h1{
    margin: 100;
    border:1px solid green;
    outline:1px solid red;
    outline-offset: 10px;
}
p{
    margin: auto;
    border:1px solid green;
    outline:1px solid red;
    outline-offset: 10px;
}