h1{
    color: green;
    background-color: black;
    text-align: center;
}
p{
    color :blueviolet;
    text-transform: uppercase;
    text-indent: 100px;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 50px;
}